<p>
  gestion-usuarios works!
</p>


<a routerLink="/menu/crear-raza">
  <button pButton
          label="Crear Raza"
          icon="pi pi-check"
          class="ui-button-success"
          iconPos="left">
    </button>
</a>

<h3>Gestión de usuarios</h3>

<p-table [value]="usuarios" [paginator]="true" [rows]="1">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let columna of columnas">
        {{columna.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-raza>
    <tr>
      <td *ngFor="let columna of columnas">

        <div *ngIf="columna.field==='id'">

          <div *ngIf="columna.header=='Identificador'">
            {{raza[columna.field]}}
          </div>

          <div *ngIf="columna.header=='Acciones'">

            <button pButton
                    label="Eliminar"
                    class="ui-button-danger"
                    (click)="eliminar(raza)">

            </button>
            <!-- Property Binding [propiedad] Js    -->
            <a [routerLink]="['/menu','ver-usuario',raza.id]">
              <!--
              /menu/ver-usuario/usuario.id
              url -> arreglo
              ['/menu','ver-usuario',usuario.id]
               -->
              <button pButton
                      label="Ver"
                      class="ui-button-secondary">
              </button>
            </a>

            <a [routerLink]="['/menu','actualizar-raza',raza.id]">
              <button pButton
                      label="Actualizar"
                      class="ui-button-warning">
              </button><
            </a>

          </div>

        </div>

        <div *ngIf="columna.field!=='id'">

          {{raza[columna.field]}}

        </div>


      </td>
    </tr>
  </ng-template>
</p-table>



<table class="table">
  <tr>
    <th>Identificcador</th>
    <th>Nombre</th>
    <th>Acción</th>
  </tr>
  <tr *ngFor="let usuario of usuarios">
    <td>{{usuario.id}}</td>
    <td>{{usuario.nombre}}</td>
    <td>
      <button (click)="eliminar(usuario)">
        Eliminar
      </button>
      <!--property bidding-->
      <a [routerLink]="['/menu','ver-usuario',usuario.id]">
        <button>
          Ver
        </button>
      </a>
      <a [routerLink]="['/menu','actualizar-raza',usuario.id]">
        <button>
          Actualizar
        </button>
      </a>
    </td>
  </tr>
</table>
