<h2>Crear raza</h2>
<p>Cree raza de animales</p>

<form #razaFormulario="ngForm" novalidate (submit)="crearRaza( razaFormulario)">

  <pre>
    formulario valido:{{razaFormulario.valid}}
    formulario invalido:{{razaFormulario.invalid}}

    formulario errores:{{razaFormulario.errors | json}}

    formulario touched: {{razaFormulario.touched}}
    formulario untouched: {{razaFormulario.untouched}}

    formulario dirty: {{razaFormulario.dirty}}
    formulario pristin: {{razaFormulario.pristine}}
  </pre>

  <div>

    <div>


      <label for="nombre">Nombre</label>
      <input id="nombre"
             name="nombre"
             required
             #nombreInput="ngModel"
             type="text"
             placeholder="Escribe el nombre de una raza"
             [(ngModel)]="raza.nombre"

      >

      <pre>
        formulario valido:{{nombreInput.valid}}
        formulario invalido:{{nombreInput.invalid}}

        formulario errores:{{nombreInput.errors | json}}

        formulario touched: {{nombreInput.touched}}
        formulario untouched: {{nombreInput.untouched}}

        formulario dirty: {{nombreInput.dirty}}
        formulario pristin: {{nombreInput.pristine}}
      </pre>
    </div>

    <div>
      <label for="apellido">Apellido</label>
      <input id="apellido"
             name="apellido"
             #apellidoInput="ngModel"
             type="text"
             placeholder="Escribe el apellido de una raza"
             [(ngModel)]="raza.apellido"
      >
      <pre>
        formulario valido:{{apellidoInput.valid}}
        formulario invalido:{{apellidoInput.invalid}}

        formulario errores:{{apellidoInput.errors | json}}

        formulario touched: {{apellidoInput.touched}}
        formulario untouched: {{apellidoInput.untouched}}

        formulario dirty: {{apellidoInput.dirty}}
        formulario pristin: {{apellidoInput.pristine}}
      </pre>

    </div>

  </div>
  <button>Crear raza</button>
</form>


